<div dir="ltr" id="infiniteImagesSlider" class="overflow-hidden w-full">
  <div class="infinite-scroll flex items-center space-x-16">
    <!-- First set of logos -->
    <div class="flex items-center space-x-16 animate-scroll">
      {% for row in rows %}
        {{ row }}
      {% endfor %}
      {% for row in rows %}
        {{ row }}
      {% endfor %}
    </div>
  </div>
</div>
