<div id="card1" class="bg-white border border-gray-300 text-gray-800 p-6 rounded-md cursor-pointer hover:bg-emerald-500 hover:border-emerald-400 transition-all h-full duration-300 group">
	<div class="flex items-center justify-between mb-8">
		<div class="w-10 h-10 ">
			<svg xmlns="http://www.w3.org/2000/svg" id="Layer_2" data-name="Layer 2" viewbox="0 0 62.09 46.32" class="w-full h-full">
				<defs>
					<style>
						.cls-1 {
							stroke: #32d2a0;
						}

						.cls-1,
						.cls-2 {
							fill: none;
							stroke-miterlimit: 10;
							stroke-width: 3px;
						}

						.cls-2 {
							stroke: #009595;
						}
					</style>
				</defs>
				<g id="Layer_1-2" data-name="Layer 1">
					<g>
						<polyline class="cls-1 group-hover:!stroke-[white]" points="30.85 7.51 14.77 3.25 10.41 5.32 25.09 15.13"/>
						<path class="cls-1 group-hover:!stroke-[white]" d="M5.23,22.59l-3.23-6.8,3.08-1.46,8.56,6.25S42.39,6.9,51.46,2.59s11.49,5.4,6.77,7.64c-1.43.68-5.99,2.85-11.63,5.53l-11.16,24.69-7.09,3.37,1.92-20.3-10.25,4.87"/>
						<path class="cls-1 group-hover:!stroke-[white]" d="M36.76,9.58l14.7-6.99c9.07-4.31,11.49,5.4,6.77,7.64"/>
						<polyline class="cls-2" points="6.2 24.62 10.2 33.05 18.13 29.29"/>
					</g>
				</g>
			</svg>
		</div>
		<span class="text-4xl text-[#44505E] font-semibold group-hover:text-white" data-i18n="stats.routesActivatedDigit">
			{{ content.field_stats.0['#markup']|number_format(0) }}
		</span>
	</div>
	<div>
		<p class="font-semibold mb-6 text-lg group-hover:text-white" data-i18n="stats.routesActivated">
			{{ content.field_title.0 }}
		</p>
		<p class="!text-sm text-[#9D9D9C] mb-6 group-hover:text-white" data-i18n="stats.routesActivatedDesc">
			{{ content.field_subtitle.0 }}
		</p>
	</div>
</div>
