<div id="card3" class="bg-white border border-gray-300 text-gray-800 p-6 rounded-md cursor-pointer hover:bg-emerald-50 hover:border-emerald-200 transition-all duration-300 h-full group">
	<div class="flex items-center justify-between mb-8">
		<div class="w-10 h-10">
			<svg xmlns="http://www.w3.org/2000/svg" id="Layer_2" data-name="Layer 2" viewbox="0 0 60.59 65" class="w-full h-full">
				<defs>
					<style>
						.cls-1 {
							stroke: #32d2a0;
						}

						.cls-1,
						.cls-2 {
							fill: none;
							stroke-miterlimit: 10;
							stroke-width: 3px;
						}

						.cls-2 {
							stroke: #009595;
						}
					</style>
				</defs>
				<g id="Layer_1-2" data-name="Layer 1">
					<g>
						<polygon class="cls-1 group-hover:!stroke-[white]" points="1.5 63.5 10.68 63.5 45.49 63.5 45.49 29.71 1.5 29.71 1.5 63.5"/>
						<polyline class="cls-1 group-hover:!stroke-[white]" points="20.83 63.5 20.83 52.19 39.34 52.19 39.34 63.5"/>
						<polyline class="cls-1 group-hover:!stroke-[white]" points="20.83 63.5 20.83 52.19 8.82 52.19 8.82 63.5"/>
						<polyline class="cls-1 group-hover:!stroke-[white]" points="45.49 9.2 45.49 17.76 45.49 20.14 45.49 63.5"/>
						<line class="cls-1 group-hover:!stroke-[white]" x1="59.09" y1="50.06" x2="59.09" y2="25.44"/>
						<polyline class="cls-1 group-hover:!stroke-[white]" points="42.94 63.5 59.09 63.5 59.09 50.06 45.49 50.06 45.49 63.5"/>
						<line class="cls-1 group-hover:!stroke-[white]" x1="6.1" y1="10.57" x2="6.1" y2="29.71"/>
						<line class="cls-1 group-hover:!stroke-[white]" x1="8.82" y1="41.28" x2="30.09" y2="41.28"/>
						<polyline class="cls-2" points="48.89 10.52 58.75 10.52 58.75 21.5"/>
						<polygon class="cls-1 group-hover:!stroke-[white]" points="6.1 2.31 6.1 17.76 23.49 10.04 6.1 2.31"/>
					</g>
				</g>
			</svg>
		</div>
		<span class="text-4xl text-[#44505E] font-semibold group-hover:text-white" data-i18n="stats.seatsGeneratedDigit">
			{{ content.field_stats.0['#markup']|number_format(1) }}
		</span>
	</div>
	<div>
		<p class="font-semibold mb-6 text-lg group-hover:text-white" data-i18n="stats.seatsGenerated">
			{{ content.field_title.0 }}
		</p>
		<p class="!text-sm text-[#9D9D9C] mb-6 group-hover:text-white" data-i18n="stats.seatsGeneratedDesc">
			{{ content.field_subtitle.0 }}
		</p>
	</div>
</div>
