<ul class="footer-menu-1 space-y-3">
  {% for item in items %}
    <li>
      <a href="{{ item.url }}" class="text-gray-300 hover:text-white">
        {{ item.title }}
      </a>
    </li>
  {% endfor %}
</ul>
